.footer-container {
    min-width: 100%;
    background: rgba(25, 210, 235, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(40px);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rampart One', cursive;
    color: white;
}